In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snsb

%matplotlib inline

gdp = pd.read_csv("../Data/gdp_percapita.csv", nrows=6868) # GDP per capita 2002 - 2019
ihv = pd.read_csv("../Data/ihv_deaths.csv", skiprows = 1) # Intentional Homicide Victims by counts and rates per 100,000 population

In [2]:
gdp1 = gdp.drop('Value Footnotes', axis = 1)

In [3]:
gdp1.columns = ['Country','Year','GDP_Per_Capita']

In [4]:
gdp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6868 entries, 0 to 6867
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country         6868 non-null   object
 1   Year            6868 non-null   int64
 2   GDP_Per_Capita  6868 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 161.1+ KB

In [5]:
gdp1.head(20)

        Country  Year  GDP_Per_Capita
0   Afghanistan  2019     2065.036398
1   Afghanistan  2018     2033.779002
2   Afghanistan  2017     2058.383832
3   Afghanistan  2016     2057.062164
4   Afghanistan  2015     2068.265904
5   Afghanistan  2014     2102.385234
6   Afghanistan  2013     2116.465454
7   Afghanistan  2012     2075.491747
8   Afghanistan  2011     1904.559799
9   Afghanistan  2010     1957.029338
10  Afghanistan  2009     1758.904043
11  Afghanistan  2008     1484.114729
12  Afghanistan  2007     1460.826075
13  Afghanistan  2006     1315.789565
14  Afghanistan  2005     1286.793508
15  Afghanistan  2004     1200.278256
16  Afghanistan  2003     1235.810063
17  Afghanistan  2002     1189.784878
18      Albania  2019    13724.058790
19      Albania  2018    13366.303065

In [10]:
ihv1 = ihv.drop(gdp1['Year'].isin('2000', '2001'))

TypeError: isin() takes 2 positional arguments but 3 were given

In [ ]:
ihv.head()
#ihv.tail()