In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as snsb

%matplotlib inline

gdp = pd.read_csv("../Data/gdp_percapita.csv", nrows=6868) # GDP per capita 2002 - 2019
ihv = pd.read_csv("../Data/ihv_deaths.csv", skiprows = 1) # Intentional Homicide Victims by counts and rates per 100,000 population

In [2]:
gdp1 = gdp.drop('Value Footnotes', axis = 1)

In [3]:
gdp1.columns = ['Country','Year','GDP_Per_Capita']

In [4]:
gdp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6868 entries, 0 to 6867
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country or Area  6868 non-null   object
 1   Year             6868 non-null   int64
 2   Value            6868 non-null   float64
 3   Value Footnotes  1 non-null      float64
dtypes: float64(2), int64(1), object(1)
memory usage: 214.8+ KB

In [11]:
gdp1.head(20)

        Country  Year  GDP_Per_Capita
0   Afghanistan  2019     2065.036398
1   Afghanistan  2018     2033.779002
2   Afghanistan  2017     2058.383832
3   Afghanistan  2016     2057.062164
4   Afghanistan  2015     2068.265904
5   Afghanistan  2014     2102.385234
6   Afghanistan  2013     2116.465454
7   Afghanistan  2012     2075.491747
8   Afghanistan  2011     1904.559799
9   Afghanistan  2010     1957.029338
10  Afghanistan  2009     1758.904043
11  Afghanistan  2008     1484.114729
12  Afghanistan  2007     1460.826075
13  Afghanistan  2006     1315.789565
14  Afghanistan  2005     1286.793508
15  Afghanistan  2004     1200.278256
16  Afghanistan  2003     1235.810063
17  Afghanistan  2002     1189.784878
18      Albania  2019    13724.058790
19      Albania  2018    13366.303065

In [5]:
ihv1 = ihv.drop('2000', '2001',)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270 entries, 0 to 269
Data columns (total 46 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Region     268 non-null    object
 1   Subregion  268 non-null    object
 2   country    202 non-null    object
 3   Source     202 non-null    object
 4   2000       123 non-null    float64
 5   2001       134 non-null    float64
 6   2002       135 non-null    float64
 7   2003       116 non-null    float64
 8   2004       135 non-null    float64
 9   2005       131 non-null    float64
 10  2006       140 non-null    float64
 11  2007       152 non-null    float64
 12  2008       162 non-null    float64
 13  2009       161 non-null    float64
 14  2010       159 non-null    float64
 15  2011       148 non-null    float64
 16  2012       151 non-null    float64
 17  2013       131 non-null    float64
 18  2014       125 non-null    float64
 19  2015       127 non-null    float64
 20  2016       121 non-null    float64
 21  2017       113 non-null    float64
 22  2018       106 non-null    float64
 23  2019       113 non-null    float64
 24  2020       75 non-null     float64
 25  2000.1     124 non-null    float64
 26  2001.1     135 non-null    float64
 27  2002.1     136 non-null    float64
 28  2003.1     118 non-null    float64
 29  2004.1     136 non-null    float64
 30  2005.1     132 non-null    float64
 31  2006.1     141 non-null    float64
 32  2007.1     153 non-null    float64
 33  2008.1     163 non-null    float64
 34  2009.1     161 non-null    float64
 35  2010.1     159 non-null    float64
 36  2011.1     148 non-null    float64
 37  2012.1     152 non-null    float64
 38  2013.1     131 non-null    float64
 39  2014.1     126 non-null    float64
 40  2015.1     127 non-null    float64
 41  2016.1     122 non-null    float64
 42  2017.1     113 non-null    float64
 43  2018.1     107 non-null    float64
 44  2019.1     113 non-null    float64
 45  2020.1     75 non-null     float64
dtypes: float64(42), object(4)
memory usage: 97.2+ KB

In [8]:
ihv.head()
#ihv.tail()

,Region,Subregion,country,Source,2000,2001,2002,2003,2004,2005,...,2011.1,2012.1,2013.1,2014.1,2015.1,2016.1,2017.1,2018.1,2019.1,2020.1
0,Asia,Southern Asia,Afghanistan,NSO,NaN,NaN,NaN,NaN,NaN,NaN,...,4.09,6.25,NaN,NaN,9.78,6.55,6.68,6.66,NaN,NaN
1,Europe,Southern Europe,Albania,"MD,CTS,NSO,Covid-19",131.0,220.0,216.0,166.0,131.0,154.0,...,4.85,5.39,4.27,4.04,2.21,2.74,2.01,2.29,2.26,2.12
2,Africa,Northern Africa,Algeria,"CTS,External",NaN,NaN,NaN,NaN,NaN,NaN,...,0.76,1.40,1.26,1.48,1.36,NaN,NaN,NaN,1.33,1.32
3,Oceania,Polynesia,American Samoa,"NSO,SDG,External",NaN,1.0,7.0,3.0,4.0,6.0,...,8.97,3.59,5.38,5.38,7.17,5.38,NaN,NaN,0.00,NaN
4,Europe,Southern Europe,Andorra,"Interpol,CTS",NaN,NaN,NaN,NaN,1.0,NaN,...,1.19,0.00,0.00,0.00,0.00,NaN,NaN,NaN,NaN,2.59